{{extend 'defaultLayout.html'}}

<div class="row">
    <div class="col-10">
        <h2>Jugadores </h2>
    </div>
    <div class="col-2 text-right">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#formJugadorModalCenter">
            <h2><i class="fas fa-plus-square"></i></h2>
        </button>
    </div>
</div>

<div class="row">
{{for jugador in jugadores:}}
    <div class="col-sm-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-user-ninja"></i> {{=jugador.nick}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{=jugador.correo}}</h6>
            </div>
        </div>
    </div>
{{pass}}
</div>

<div class="modal fade" id="formJugadorModalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Registro Juagador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="resultado"></div>
                <form id="formJugador">
                    <div class="form-group">
                        <label for="nick">Nickname</label>
                        <input type="text" class="form-control" name="nick" id="nick" placeholder="Nickname">
                    </div>
                    <div class="form-group">
                        <label for="correo">Password</label>
                        <input type="email" class="form-control" name="correo" id="correo" placeholder="Email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="submitFormJugador">Registrar</button>
            </div>
        </div>
    </div>
</div>

<script>

jQuery('#submitFormJugador').click(function() {
  ajax('{{=URL('agregarJugador')}}',
       ['nick','correo'], 'resultado');
  return false;
});

jQuery('#formJugadorModalCenter').on('hidden.bs.modal', function (e) {
  location.reload();
});

</script>